.menu-toggle {
	width: 2.5em;
	height: 2.5em;
  margin-left: auto;

	border-radius: 50%;
	background-color: #1ef0a0;
	
	position: absolute;
  z-index: 10;
	bottom: calc(50% - 40px/2);
	right: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.4s;
}

.menu-toggle.open {
  transform: rotate(135deg);
}

.btn-app {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	position: absolute;
  z-index: 10;
	
	background-color: #4644fd;
	color:#fff;
	text-align: center;
}

.menu-round {
	position: absolute;
	bottom:0;
	right:0;
	z-index:3;
}

.menu-round .btn-app {
  bottom: 0.25em;
  right: 0em;
  transition: 0.4s;
}

.menu-round.open .btn-app:nth-of-type(1) {
  right: 2.5em;
  /* right:0.5em; */
  /* bottom:4.25em; */
  transition-delay:0.2s;
}

.menu-round.open .btn-app:nth-of-type(2){
  right: 5em;
  /* right:3.5em; */
  /* bottom:3.5em; */
  transition-delay: 0.1s;
}

/*! W */
.menu-round.open .btn-app:nth-of-type(3){
  right: 7.5em;
  /* right: 4.25em; */
  /* bottom:0.5em; */
}
