:root {
  /* Blue */
  --color-dark-blue: rgba(1, 31, 69, 0.858);
  --color-light-blue: rgb(173, 206, 255);
  /* Green */
  --color-green: #198754;
  --color-dark-green: #157347;
  /* Grey */
  --color-grey: #999999;
  --color-grey-opacity: #99999985;
  --color-grey-light: #d5d5d5;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark-blue);
}

img {
  pointer-events: none;
}

.done-text {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 10%;
}

.done-item {
  background-color: var(--color-grey-light) !important;
}

.nav-item:hover,
.nav-item:focus-within {
  background-color: var(--color-grey);
}

.active {
  background-color: var(--color-green) !important;
  cursor: default !important;
}

.bg-grey-opacity {
  background-color: var(--color-grey-opacity);
}

.new-task:hover {
  background-color: var(--color-grey-light) !important;
}

.badge {
  background-color: var(--color-dark-blue);
}

.empty-list svg {
  width: 60px;
  height: 60px;
}
